diff.tool=default-difftool
difftool.default-difftool.cmd=code --wait --diff $LOCAL $REMOTE
hub.protocol=ssh

[user]
	name = Tom Sherman
	email = the.tomsherman@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	excludesfile=/home/tom/.config/.gitignore_global
	editor=code --wait
